.scroll-bar{
    position: relative;
    height: 3rem;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    overscroll-behavior: contain;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    scroll-behavior: smooth;
    
}
.scroll-bar::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
}
.topic{
    padding: 0.1rem 1rem;
    scroll-snap-align:start;
    white-space: nowrap; 
}
.left{
    position: absolute;
    top:85px;
    left: 15px;
}
.right{
    position: absolute;
    top:88px;
    right: 15px;
}